body {
  margin-left: 150px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 400px;
}
.filters {
  margin-top: 50px;
}
.category {
  padding-left: 10px;
}
.badge {
  border-radius: 20px;
  width: 60px;
  padding: 10px 5px;
}
input,
label {
  cursor: pointer;
}
span {
  color: #4e4949;
  font-size: 0.8em;
}
